
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHOOL SYSTEM</title>

    {% load static %}

    <link rel="stylesheet" href="{%static 'style.css'%}">
    

</head>
<body>
    <style>
        h1{
            color: brown;
            text-align: center;
        }
        body{
            background-color: white;
        }
        form{
            text-align: center;
            color: brown;
            font-size: 20px;
        }
    </style>
    <h1>STUDENT REGISTRATION</h1>
</body>
</html>

<form method="POST">
    {{form.as_p}}
</form>